
body {
    background: #000;
    color: antiquewhite;
    font-family: var(--font-dm-sans);
}

html {
   
    font-weight: 500;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo{
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img{
    width: 80px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
    list-style: none;
}

.sidebar nav {
    list-style: armenian;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
    list-style: none;
}

.sidebar ul li {
    padding: 10px 0;

}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight:600;
    font-size: 14px;
    
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color:#b3b3b3;
    font-weight:600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content{
    display: flex;
    justify-content: space-between;
}

.library .library__button{
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    
    text-align: center;
    text-decoration:none;
    text-transform: none;
    padding: 20px 10px;

}
 
.library .library__button .prj {
    padding: 5px;
}

.library .library__button .fa fa-book{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    color: #b3b3b3;
    padding-right: 8px;
}

.library .library__content .fa-magnifying-glass{
    margin: 24px 10px;
}

.section-playlist{
    display: flex;
    background-color: #242424;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text{
    padding-bottom: 14px;
    color: #fff
}

.section-playlist__content .title{
    font-weight: 700;
}

.section-playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0;
    width: 113px;
    margin-top: 12px;
    
}

.languages .languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;

}

.library__content {
    display: flex;
    align-items: center;
    width: 265px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
  }
  

  
  .library__content input {
    background: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: block;
    justify-content: space-between;
}
.footer .text {
   flex-shrink: 0;
   justify-self: center;
}
.footer .footer__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer .footer__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}